
# Flask==2.3.3
# Flask-SocketIO==4.3.1
# python-engineio==3.13.2
# python-socketio==4.6.0
# Werkzeug==2.0.3
# Jinja2==3.1.6


# Latest #################
certifi==2025.1.31
click == 8.1.8
dnspython==2.7.0
dill==0.3.9
Flask==2.1.3
Flask-SocketIO==4.3.1
python-engineio==3.13.2
python-socketio==4.3.1
Werkzeug==2.0.3

greenlet==3.1.1
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
monotonic==1.6

six==1.17.0
requests==2.32.3
protobuf==6.30.2
eventlet==0.39.1
##############################


# Set 1 #################
# certifi==2020.6.20
# click==8.0
# dnspython==1.16.0
# dill==0.3.2
# Flask==2.1.0
# Flask-SocketIO==4.3.0
# greenlet==2.0.2 # not OG
# itsdangerous==2.0
# Jinja2==3.1.0
# MarkupSafe==2.0
# monotonic==1.5
# python-engineio==3.13.0
# python-socketio==4.6.0
# six==1.15.0
# Werkzeug==2.0.3
# requests==2.23.0
# protobuf==3.19
# eventlet==0.39.1
##############################

# greenlet==2.0.2
#
#
# certifi==2020.6.20
# click==8.0
# dnspython==1.16.0
# dill==0.3.2
# Flask==3.1.0
# Flask-SocketIO==4.3.0
# # greenlet==0.4.16
# greenlet==2.0.2
# itsdangerous==2.0
# Jinja2==3.1.0
# MarkupSafe==2.0
# monotonic==1.5
# python-engineio==3.13.0
# python-socketio==4.6.0
# six==1.15.0
# Werkzeug==2.0.3
# # tensorflow==2.0.3
# requests==2.23.0
# protobuf==3.19


############## ORigonal ##########
# certifi==2020.6.20
# click==8.0
# dnspython==1.16.0
# dill==0.3.2
# Flask==2.1.0
# Flask-SocketIO==4.3.0
# greenlet==0.4.16
# itsdangerous==2.0
# Jinja2==3.1.0
# MarkupSafe==2.0
# monotonic==1.5
# python-engineio==3.13.0
# python-socketio==4.6.0
# six==1.15.0
# Werkzeug==2.0.3
# tensorflow==2.0.3
# requests==2.23.0
# protobuf==3.19
