<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
      img.center {
        display: block;
        margin: 0 auto;
      }
      table, td, th {
        border: 1px solid #ddd;
        text-align: left;
      }

      table {
        border-collapse: collapse;
        width: 100%;
      }

      th, td {
        padding: 15px;
      }
      tr:nth-child(even) {background-color: #f2f2f2;}
    </style>

    <title>Instructions</title>
    <link rel="Favicon" href="static/favicon.ico" />

    <script src="static/lib/jquery-min.js" type="text/javascript"> </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </head>
  <body>
      <br>
      <hr>
      <br>
      <div class="container" id="consent">
          <h3 class="text-center">Consent</h3>
          <p>
            I am a graduate student under the direction of Professor Wenlong Zhang in the Ira Fulton Schools of Engineering at Arizona State University.
            I am conducting a research study to investigate human-AI interaction in risky settings.
            <br> <br>
            I am inviting your participation, which will involve playing a series of six games taking an estimated 45 minutes to complete.
            The game will be played in your web browser and require both a mouse and keyboard to complete.
            You have the right not to answer any question, and to stop participation at any time.
            <br> <br>
            Your participation in this study is voluntary.
            If you choose not to participate or to withdraw from the study at any time, there will be no penalty.
            For your participation, you will be compensated up to $15 through the Prolific portal based on performance.
            In order to participate, you must be 18 or older.
            <br> <br>
            Your participation will benefit research in interactive AI for the purpose of improving its ability to model and coordinate with humans in risky settings.
            Specifically, your responses to surveys will investigate how human trust in virtual agents developes under different assumptions about behavior.
            Also, the actions you take during the game will help validate and improve robotic understanding of humans.
            After the experiment is complete, further explanation about how the virtual partner modeled your actions is available if you wish to learn more about how you are contributing to this field.
            There are no foreseeable risks or discomforts to your participation.
            <br> <br>
            Responses to all survey questions, participation date, and the actions you take during the game will be collected.
            To protect your privacy, all personal identifiers will be removed from your data and stored on a secure server.
            Your data will be confidential and the de-identified data collected as a part of this study will not be shared
            with others outside of the research team approved by this study’s IRB or be used for future research purposes or other uses.
            The results of this may be used in reports, presentations, or publications but your name will not be used.
            <br> <br>
            If you have any questions concerning the research study, please contact the research team at: mosmith3@asu.edu.
            If you have any questions about your rights as a subject/participant in this research, or if you feel you have been placed at risk, you can contact the Chair of the Human Subjects Institutional Review Board, through the ASU Office of Research Integrity and Assurance, at (480) 965-6788. Please let me know if you wish to be part of the study.
          </p>

          <br>
          <hr>
          <br>

        </div> <!-- end of consent -->
      <div class="container" id="participant-information">

          <h3 class="text-center">Study Information</h3>
          <p>
            General Information
            <ul>
                <li>Your participation is expected to not exceed 45 minutes</li>
                <li>You will be playing a game with a virtual agent using a keyboard</li>
                <li>Please ensure you are in a distraction free environment before you begin</li>
                <li><b>Your compensation will depend on your performance during these games<b></li>
            </ul>

            Before the experiment begins:
            <ul>
                <li>Basic background information will be collected</li>
                <li>One short surveys about your attitudes towards risk will be given</li>
                <li>You will then be instructed on how to play the game</li>
                <li>You will then play a practice round to familiarize yourself with the controls</li>
            </ul>

            During the Experiment
            <ul>
                <li>You will play a series of 5 games with two AI partners (10 total games)</li>
                <li>Each games will last a maximum of 1 minute</li>
                <li>After each game, you will be given a brief survey</li>
            </ul>

            After the Experiment
            <ul>
                <li>You take a brief survey comparing the two agents</li>
                <li>You will be given a brief description of your contribution to this research</li>
                <li>You will be redirected to back to Prolific to receive your compensation</li>
            </ul>
          </p>
      </div> <!-- end of participant-information -->

        <div class="text-center">
            <button id="prev-btn">Back</button>
            <button id="next-btn">Next</button>
          </div>
     <br>
      <hr>
      <br>
  </body>
</html>
